@import "./enterUI.css";
@import "./secondLayer.css";
@import "./yearLayer.css";
@import "./ringLayer.css";
@import "./monthLayer.css";
@import "./waveLayer.css";
@import "./backingLayer.css";
@import "./dateLayer.css";
@import "./hourLayer.css";
@import "./menuLayer.css";
@import "./toggleLayer.css";
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  background: #141414;
  --bg: #141414;
  --default-0: #ecf5ff;
  --default-1: #d9ecff;
  --default-2: #c6e2ff;
  --default-3: #a0cfff;
  --default-4: #79bbff;
  --default-5: #409eff;
  --default-6: #337ecc;
  --strong-0: #fdf6ec;
  --strong-1: #faecd8;
  --strong-2: #f8e3c5;
  --strong-3: #f3d19e;
  --strong-4: #eebe77;
  --strong-5: #e6a23c;
  --strong-6: #b88230;
  --success-0: #f0f9eb;
  --success-1: #e1f3d8;
  --success-2: #d1edc4;
  --success-3: #b3e19d;
  --success-4: #95d475;
  --success-5: #67c23a;
  --success-6: #529b2e;
  color: #fff;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 5px;
  text-indent: 5px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.layer-Bottom {
  width: 120px;
  height: 120px;
  font-size: 2.3rem;
  position: absolute;
  z-index: 2;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
  box-shadow: 0 0 0px 0 var(--default-2);
  border: 1px solid var(--default-3);
  box-sizing: border-box;
  border-radius: 50%;
  opacity: 0;
}

.layer-Bottom::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 0px 0 var(--default-2) inset;
}

.layer-Bottom-mount {
  box-shadow: 0 0 30px 0 var(--default-2);
  opacity: 1;
  transition: transform 0.5s ease-out, opacity 1s ease-out,
    box-shadow 3s ease-out 0.5s;
}

.layer-Bottom-mount::before {
  box-shadow: 0 0 30px 0 var(--default-2) inset;
  transition: box-shadow 3s ease-out 0.5s;
}


.digi-num {
  width: 26px;
  height: 42px;
  position: relative;
  transform: skewX(-15deg);
}

.digi-num-part {
  width: 18px;
  height: 4.8px;
  position: absolute;
  background: #E6A23C00;
  box-shadow: 0 0 0 0 #f8e3c5;
  transition: all 0.5s ease-out;
}

.digi-num>.digi-num-part:nth-child(1) {
  top: 0;
  left: calc(50% - 9px);
  border-radius: 1px 1px 4.8px 4.8px;
}

.digi-num>.digi-num-part:nth-child(2) {
  top: 0;
  left: 0;
  transform-origin: left bottom;
  border-radius: 4.8px 4.8px 1px 1px;
  transform: rotate(90deg) translateX(-2.3px);
}

.digi-num>.digi-num-part:nth-child(3) {
  top: 0;
  right: 0;
  transform-origin: right bottom;
  border-radius: 4.8px 4.8px 1px 1px;
  transform: rotate(-90deg) translateX(2.3px);
}

.digi-num>.digi-num-part:nth-child(4) {
  top: calc(50% - 2.4px);
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 4.8px;
}

.digi-num>.digi-num-part:nth-child(5) {
  bottom: 0;
  left: 0;
  transform-origin: left top;
  border-radius: 1px 1px 4.8px 4.8px;
  transform: rotate(-90deg) translateX(-2.3px);
}

.digi-num>.digi-num-part:nth-child(6) {
  bottom: 0;
  right: 0;
  transform-origin: right top;
  border-radius: 1px 1px 4.8px 4.8px;
  transform: rotate(90deg) translateX(2.3px);
}

.digi-num>.digi-num-part:nth-child(7) {
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 4.8px 4.8px 1px 1px;
}